@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    font-family: "Inter", serif;
    background-color: #FAFAF8;
}
/* header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.chef-claude-logo{
    height: 40px;
}
.chef-claude{
    font-size: 1.5rem;
    font-weight: 300;
}
/* main */
main{
    padding: 30px;
}
.add-ingredient-form{
    display: flex;
    justify-content: center;
    column-gap: 12px;
}
.add-ingredient-form > input{
    padding: 8px 10px;
    border: 1px solid rgb(7, 6, 6);
    border-radius: 6px;
    font-size: 1rem;
    flex-grow: 1;
    min-width: 150px;
    max-width: 500px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.add-ingredient-form > input::placeholder{
    font-size: 1rem;
}
.add-ingredient-form > button{
    font-family: "Inter", serif;
    padding: 8px 18px;
    border: none;
    background-color: rgb(7, 6, 6);
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}
.add-ingredient-form > button::before{
    content: "+";
    margin-right: 4px;
}
.ingredients-list{
    display: flex;
    flex-direction: column;
}
.ingredients-list > li,
.ingredients-quantity > li,
.instructions > li{
    font-size: 1rem;
    padding: 2px;
    margin-left: 30px;
}
.ingredients-heading{
    margin: 10px 0;
}
.get-recipe-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F0EFEB;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}
.get-recipe-container h3{
    font-weight: 500;
    margin-bottom: 16px;
}
.get-recipe-container p{
    font-size: 0.875rem;
    color: #6B7280;
}
.get-recipe-container button{
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}
/* generated recipe article */
.recipe-heading{
    margin: 16px 0 10px 0;
}
.ingredients-quantity,
.instructions{
    margin: 8px 0 16px 0;
}